<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>IND Classifieds</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>indclassifieds</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tez</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>credpay</string>
		<string>mobikwik</string>
		<string>freecharge</string>
		<string>in.fampay.app</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>navi</string>
		<string>kiwi</string>
		<string>payzapp</string>
		<string>jupiter</string>
		<string>omnicard</string>
		<string>icici</string>
		<string>popclubapp</string>
		<string>sbiyono</string>
		<string>myjio</string>
		<string>slice-upi</string>
		<string>bobupi</string>
		<string>shriramone</string>
		<string>indusmobile</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>IND Classifieds needs access to your camera to take product images and for profile verification.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>IND Classifieds uses your location to display your current position on the dashboard for a personalized experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>IND Classifieds uses your location to display your current position on the dashboard for a personalized experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>IND Classifieds needs access to your photos to upload product images and for profile verification.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
